 h1 {
    text-align: center;
}

.form {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.input-error {
    border: 2px solid red;
}

.input-success {
    border: 2px solid green;
}

.error-message {
    color: red;
    font-size: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    
    padding: 8px;
    font-size: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.password-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    
}

.password-container input[type="password"] {
    flex: 1;
    width: 70%;
    
}

.password-container button {
    height: 10%;
    padding: 0 12px;
    font-size: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    /* width: 80%; */
    box-sizing: border-box;
}

.submit,
.reset {
    flex: 1;
    padding: 12px;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.submit {
    background-color: rgb(48, 164, 210);
}

.reset {
    background-color: rgb(225, 109, 109);
}


@media all and (max-width: 767px) {
    .button .submit,
    .button .reset {
        margin-bottom: 10px;
    }
    .form {
        max-width: 90%;
        padding: 10px;
        width: 60%;
    }
} 

/* @media all and (max-width: 1280px) {
    .form {
        max-width: 90%;
        padding: 10px;
        width: 50%;
    }
    .button {
        flex-direction: column;
        gap: 10px;
    }
    .submit,
    .reset {
        width: 90%;
        margin-top: 0;
    }
} */

.all {
    width: 500px;
    margin: 0 auto; 
}